<div id="registration-container">
  <mat-jumbotron id="jumbotron">
    <mat-jumbotron-content id="content">
      <mat-vertical-stepper [linear]="isLinear">
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill out your name</ng-template>
            <mat-form-field>
              <input matInput placeholder="First Name" formControlName="firstCtrl" required [(ngModel)]="user.firstname">
            </mat-form-field>
            <br/>
            <mat-form-field>
                <input matInput placeholder="Last Name" formControlName="firstCtrl" required [(ngModel)]="user.lastname">
              </mat-form-field>
              <br/>
              <mat-form-field>
                  <input matInput placeholder="Email" formControlName="firstCtrl" required [(ngModel)]="user.email">
              </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
              <a mat-button routerLink="/auth/login">Cancel</a>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Select a Username and Password</ng-template>
            <mat-form-field>
              <input matInput placeholder="Username" formControlName="secondCtrl" required [(ngModel)]="user.username">
            </mat-form-field>
            <br/>
            <mat-form-field>
                <input  matInput type="password" id="password"placeholder="Password" formControlName="secondCtrl" required [(ngModel)]="user.password">
            </mat-form-field>
            <br/>
            <mat-form-field>
                <input type="password" id="verifiedPassword" matInput placeholder="Verify Password" formControlName="secondCtrl" required>
            </mat-form-field>
            
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
              <a mat-button routerLink="/auth/login">Cancel</a>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <div>
            <button mat-button matStepperPrevious>Create Account</button>
            <a mat-button routerLink="/auth/login">Cancel</a>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </mat-jumbotron-content>
  </mat-jumbotron>
</div>