@import '~@angular/material/theming';

$darker-grey: mat-color($mat-grey, 800);
$dark-grey: mat-color($mat-grey, 700);
$light-grey: mat-color($mat-grey, 200);
$black: mat-color($mat-grey,900);

$font: 'Courier New', sans-serif;
* {
    font-family: 'Courier New', sans-serif !important; 
    font-style: $black;
  }
#registration-container {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    padding-top: 0%;
    padding-bottom: 0%;
    
    mat-card {
        margin: 0 auto;

        mat-card-header {
            justify-content: center;

            mat-card-title {
                color: $black;
                font-family: $font;
                font-size: 300%;
            }
        }

        mat-card-content {
            justify-content: center;

            input {
                color: $dark-grey;
                font-family: $font;
                font-size: 120%;
            }
        }
    }
}
#registerSpinner {
    display: inline;
}

#availableEmail {
    font-size: 12px;
    color: green;
}

#emailNotAvailable {
    font-size: 12px;
    color: red;
}