<mat-card>
    <mat-card-content>
        <div id="view-projects-grid">
            <div id="project-title">
            <h1>{{ project.name }}</h1>
                <div *ngIf="project">
                    <button *ngIf="enableEditFunctionality"mat-fab matTooltip="Update project" matTooltipPosition="above" (click)="updateProject()">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-fab matTooltip="Codebase Viewer" matTooltipPosition="above" id="codeBaseButton" (click)="viewCodeBase()">
                        <mat-icon>code</mat-icon>
                    </button>
                </div>
            </div>
            <div id="project-info">
                <app-project-info></app-project-info>
            </div>
            <div id="carousel-window">
                <app-ngx-carousel></app-ngx-carousel>
            </div>
            <div id="project-description">
                <app-project-description></app-project-description>
            </div>
        </div>
        <div *ngIf="enableApprovalDenialBtns" class="approval-deny-box">
            <button id="approve-project-btn" (click)="approveOrDenyProject(true)" mat-stroked-button color="accent">Approve Project</button>
            <button id="deny-project-btn" (click)="approveOrDenyProject(false)" mat-flat-button color="accent">Deny Project</button>
        </div>
    </mat-card-content>
  </mat-card>