<!-- <div id="logoContainter">
    <button id="icon" mat-icon-button mat-stroked-button mat-button>
        <img id="home-icon" src="../../../assets/icons/RPM_Logo.png">
    </button>
     <span class="example-fill-remaining-space"></span> 
    <img id="rpm-logo" src="../../../assets/img/RPM_LogoTEXTONLY1.png">
    <h1> REVATURE PROJECT MANAGER </h1>
</div> -->

<div id="toolbar">
        <mat-toolbar class="my-theme" color="white">
            <mat-toolbar-row>
                <button id="icon" mat-icon-button mat-stroked-button mat-button matTooltip="Home" matTooltipPosition="right"
                    (click)="homepageShortcut()">
                    <img id="home-icon" src="../../../assets/icons/RPM_Logo.png">
                </button>

                <!-- This fills the remaining space of the current row -->
                <span class="example-fill-remaining-space"></span>

                <img id="rpm-logo" src="../../../assets/img/rpmLogo.png">
                <h1 id="title">Revature Project Manager</h1>

                <span class="example-fill-remaining-space"></span>
                <!-- This fills the remaining space of the current row -->

                <p> </p>
            </mat-toolbar-row>
            <mat-divider></mat-divider>
        </mat-toolbar>
    </div>