<div id="welcome-title">
    <h2>Revature Project Manager</h2>
</div>

<div id="description-box">
  <p>The Revature Project Management (RPM) system is a web application that can be used to record metadata information regarding completed full-stack projects. Authenticated users can submit project information, which is then approved by an administrator. Using repository links provided during project submission, project codebases will be pulled and made available for viewing. This application will provide administrators the ability to deploy the application onto dynamically allocated cloud resources so that it can be evaluated in the state it was in during its original presentation.</p>
</div>

