/*
    Please don't use Bootstrap! Angular Material
    and Flexbox are so much better! Once you try
    it, you won't go back.

    Angular Material documentation:     https://material.angular.io/
    Excellent, quick Material tutorials:     https://youtu.be/bV8emCBmFHk
    Flexbox tutorial:     https://www.w3schools.com/css/css3_flexbox.asp
    20-minute SCSS tutorial:     https://youtu.be/Zz6eOVaaelI
    Scaling apps in Angular:     https://youtu.be/Bhd2ayEE9mg
*/
/*
    @import src/variables.scss relative to this file
    in order to use the global SCSS variables within
    this file. (Don't include the underscore in
    _variables.scss when importing. If you want to
    know why: http://alistapart.com/article/getting-started-with-sass/)

    Open the _variables.scss file in a new tab so you
    can use and make SCSS variables and make everyone's
    lives easier.
*/
@import '../../../../../variables';

#welcome-title {
    grid-area: title;
    margin-left: 7px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    h2 {
        font-size: 60px;
    }
    button {
        margin: 10px;
    }
}

#description-box {
    padding: $section-padding;
}