@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

@import 'src/variables';

// Revature brand colors:
$rev-orange: (
  main: #f26925,
  light: #f37638,
  dark: #dc6022,
  // "contrast" is the text color
  contrast: (
    main: #fff,
    light: #fff,
    dark: #fff
  )
);

$rev-gray: (
  main: #474c55,
  light: #575c64,
  dark: #41464e,
  // "contrast" is the text color
  contrast: (
    main: #fff,
    light: #fff,
    dark: #fff
  )
);

$rev-blue: (
  main: #74a3bf,
  light: #80abc4,
  dark: #6a95ae,
  // "contrast" is the text color
  contrast: (
    main: #474c55,
    light: #474c55,
    dark: #474c55
  )
);

// this is to change the text color of text inside
// Angular components with the light theme
@function custom-light-theme-foreground($color) {
  @return (
    base: $color,
    divider: $white-12-opacity,
    dividers: $white-12-opacity,
    disabled: rgba($color, 0.38),
    disabled-button: rgba($color, 0.38),
    disabled-text: rgba($color, 0.38),
    hint-text: rgba($color, 0.38),
    secondary-text: rgba($color, 0.54),
    icon: rgba($color, 0.54),
    icons: rgba($color, 0.54),
    text: rgba($color, 0.87),
    slider-off: rgba($color, 0.26),
    slider-off-active: rgba($color, 0.38),
    slider-min: rgba($color, 0.38)
  );
}

;

$my-foreground: custom-light-theme-foreground(#474c55);


// Define the default theme (same as the example above).
$rpm-theme-primary: mat-palette($rev-orange, main, light, dark);
$rpm-theme-accent: mat-palette($rev-blue, main, light, dark);
//$rpm-theme-warn: mat-palette($mat-red);
$rpm-light-theme-temp: mat-light-theme($rpm-theme-primary, $rpm-theme-accent);

// this is replacing the normal Google light theme's text color (black)
// with $defaultFontColor
$rpm-light-theme: map-merge($rpm-light-theme-temp, (foreground: $my-foreground));

// Include the default theme styles.
@include angular-material-theme($rpm-light-theme);


// Define an alternate dark theme.
$rpm-dark-primary: mat-palette($rev-orange, main, light, dark);
$rpm-dark-accent: mat-palette($rev-blue, main, light, dark);
// $rpm-dark-warn:    mat-palette($mat-red);
$rpm-dark-theme: mat-dark-theme($rpm-dark-primary, $rpm-dark-accent);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.rpm-dark-theme {
  @include angular-material-theme($rpm-dark-theme);
}
