@font-face {
    font-family: futura pt;
    src: url(/../../assets/fonts/FuturaPTLight.otf) format("opentype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: futura pt;
    src: url(/../../assets/fonts/FuturaPTLightOblique.otf) format("opentype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: futura pt;
    src: url(/../../assets/fonts/FuturaPTMedium.otf) format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: futura pt;
    src: url(/../../assets/fonts/FuturaPTMediumOblique.otf) format("opentype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: futura pt;
    src: url(/../../assets/fonts/FuturaPTBold.otf) format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: futura pt;
    src: url(/../../assets/fonts/FuturaPTBoldOblique.otf) format("opentype");
    font-weight: 700;
    font-style: italic;
}