<div class="header"><span>JSZip Demo</span></div>
<div>
<div class="btn-container">
  <button (click)='sendRequest()'>🗁</button>
  <h3 class="display-text">File Explorer</h3>
</div>
<div class="container_div">
  
  <!-- <ul>
    <li *ngFor="let string of  RenderFileName">
        {{string}}
    </li>
  </ul> -->
  <div *ngFor="let help of RenderFile">
    <details>
      <summary>{{help.fileName}}</summary>
      <textarea placeholder={{help.fileContent}} disabled=true></textarea>
    </details>
  </div>
</div>
</div>

