<h1 mat-dialog-title>{{ data.title }} </h1>
<div mat-dialog-content>
    <p>{{ data.questionType }}</p>
    <mat-form-field class="example-full-width" style="width:90%">
      <input id="userItemText" type="text" (keydown.enter)="addItem($event)" matInput [(ngModel)]="data.result"
      [ngModelOptions]="{standalone: true}" cdkFocusInitial/>
    </mat-form-field>
      <i id="addItemButton" type="submit" (click)="addItem($event)"
      matTooltipPosition="right" class="material-icons" style="color: orange">add_circle_outline</i>

    <li *ngFor="let name of data.values; let i = index" style="list-style-type: none" value="{{name}}">
      <i id="{{name}}" class="material-icons" style="color: orange" (click)="removeItem($event)">remove_circle_outline</i>
      {{name}}
      <i id="{{name}}" class="material-icons" style="color: orange" (click)="allowEdit($event)">edit</i>
      <mat-form-field class="example-full-width" appearance="outline" *ngIf="inEditMode[i]" style="width:90%" >
          <input type="text" id="{{name}}" matInput name="editor"
          placeholder="{{name}}" [(ngModel)]="editedValues[i]"
          [ngModelOptions]="{standalone: true}" (keydown.enter)="modifyField($event)">
        </mat-form-field>
        <i id="{{name}}" class="material-icons" style="color: orange" *ngIf="inEditMode[i]"
          (click)="modifyField($event)" matTooltipPosition="right">check</i>
    </li>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.values">Submit</button>
</div>
