<h1 mat-dialog-title>{{ data.title }} </h1>
<div mat-dialog-content>
    <p>{{ data.questionType }}</p>
    <mat-form-field>
      <input id="userItemText" type="text" matInput [(ngModel)]="data.result" cdkFocusInitial>
    </mat-form-field>
    <i id="addItemButton" class="material-icons" style="color: orange" (click)="addItem($event)" align="end">add_circle_outline</i>

    <li *ngFor="let name of data.values" style="list-style-type: none" value="{{name}}">
      <i id="{{name}}" class="material-icons" style="color: orange" (click)="removeItem($event)">remove_circle_outline</i> {{name}}
      <i id="{{name}}" class="material-icons" style="color: orange" (click)="allowEdit($event)">edit</i>
      <span id="forListEdit{{name}}"></span>
    </li>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.values" cdkFocusInitial>Submit</button>
</div>
