.container {
  height: 100%;
  width: 100%;
}

#user-role {
  margin-top: -48%;
  border-color: black;  
}

// .container {
//   display: flex;
//   flex-direction: column;
// }

// .container > * {
//   width: 100%;
// }