<mat-card>
  <mat-card-content>
    <div id="view-projects-grid">
      <div id="project-title">
        <h1>{{ project.name }}</h1>
        <div>
          <button id="approve-project-btn" mat-flat-button color="accent" (click)="approveProject()">Approve Project</button>
          <button id="deny-project-btn" mat-flat-button color="accent" (click)="denyProject()">Deny Project</button>
        </div>
      </div>
      <div id="project-info">
        <app-project-info></app-project-info>
      </div>
      <div id="carousel-window">
        <app-ngx-carousel></app-ngx-carousel>
      </div>
      <div id="project-description">
        <app-project-description></app-project-description>
      </div>
    </div>
  </mat-card-content>
</mat-card>