<!-- <div id="registration-container">  
  <mat-vertical-stepper linear>
    <mat-step [stepControl]="formGroup1">
      <form [formGroup]="formGroup1" #formGroup1 (ngSubmit)="onSubmit()">
        <ng-template matStepLabel>Please provide your details</ng-template>
        <mat-form-field>
          <input matInput placeholder="First Name" formControlName="firstName">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Last Name" formControlName="lastName">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="E-mail" formControlName="email" [pattern]="emailPattern" (focusout)="checkIfEmailIsInUse()" (keyup)="checkIfEmailIsInUseKey()">
        </mat-form-field>
      </form>
    </mat-step>
    <mat-step [stepControl]="formGroup2" #formGroup2>
      <form [formGroup]="formGroup2">
        <ng-template matStepLabel>Enter a Username and Password</ng-template>
        <mat-form-field>
          <input matInput placeholder="Username" formControlName="username">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Password" formControlName="password">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Confirm Password" formControlName="confirmPassword">
        </mat-form-field>
        <br>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done!</ng-template>
      Click 'submit' to create your account.
      If you need to change something, click on the steps above to edit them.
      <div>
        <button mat-button type="submit" [disabled]="!formGroup1.valid || !formGroup2.valid">Submit</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div> -->