<h2 id="projects">{{ title }}</h2>
<div *ngIf="projectList" class="section flex-section">
	<mat-card *ngFor="let project of projectList" (click)="swapProject(project)" mat-fab matTooltip={{project.name}} matTooltipPosition="above">
		<mat-card-content>
      <h4> {{ project.name }} </h4>
      <span>Tech Stack: {{ project.techStack }}</span>
      <span *ngIf="userId" class="status" [ngClass]="{'approved': project.status==='Approved', 'denied': project.status==='Denied', 'pending': project.status==='Pending' }"> </span>
		</mat-card-content>
	</mat-card>
</div>