<div id="project-list-tabs" class="flex-container">
  <h4>Projects&nbsp;&nbsp;</h4>
  <button *ngFor="let project of userProjects" mat-flat-button (click)="swapProject(project)">{{ project.name | ellipsis:20 }}</button>
</div>
<div id="project-list-dropdown">
  <mat-accordion>
      <mat-expansion-panel id="view-project-list">
          <mat-expansion-panel-header>
              <mat-panel-title>Select a Project</mat-panel-title>
          </mat-expansion-panel-header>
          <button *ngFor="let project of userProjects" mat-flat-button (click)="swapProject(project)">{{ project.name | ellipsis:20 }}</button>
      </mat-expansion-panel>
  </mat-accordion>
</div> 