#user-role {
    border-color: black;
    margin-left: -3vh;  
  }
  
  #profile-text {
    font-size: 100%;
  }

  ::ng-deep .mat-tooltip {
    background: lightgrey!important;
    font-size: 8px!important;
    color: black!important;
}