#user-role {
    margin-top: -30%;
    border-color: black;  
  }
  
  #profile-text {
    font-size: 100%;
  }

  ::ng-deep .mat-tooltip {
    background: lightgrey!important;
    font-size: 8px!important;
    color: black!important;
}