<!-- <mat-grid-list cols="4" rowHeight="500px">
  <mat-grid-tile *ngFor="let project of projects">
    <app-project-card [project]="project"></app-project-card>
  </mat-grid-tile>
</mat-grid-list> -->

<div class="table-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let project"> {{project[column]}} </td>
    </ng-container>

    

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let project" [attr.colspan]="displayedColumns.length">
        <div class="project-detail" [@detailExpand]="project == expandedProject ? 'expanded' : 'collapsed'">
          <img class="project-image" src="https://i.ytimg.com/vi/wRx3Uvcktm8/maxresdefault.jpg">
          <!-- <angular-image-slider [images]="imagesUrl"></angular-image-slider> -->
          <div class="project-diagram">
            <div class="project-name"> {{project.name}} </div>
            <div class="project-weight"> {{project.techStack}} </div>
          </div>
          <div class="project-description">
            {{project.description}}
          </div>
          <div *ngFor="let member of project.groupMembers">
            <p>{{member}}</p>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let project; columns: displayedColumns;" class="project-row"
      [class.expanded-row]="expandedProject === project" (click)="expandedProject = expandedProject === project ? null : project">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
  </table>
</div>
