.example-viewport {
  height: 200px;
  width: 200px;
  border: 1px solid black;
}

.example-item {
  height: 50px;
}

table {
    width: 100%;
  }

  .example-container {
    height: 400px;
    overflow: auto;
  }