@import '~@angular/material/theming';


body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}


.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

 #navbarTitle{
    border: none;
    font-size: 16px;
}

#toolbar{
   width: 100%;
}