<mat-card>
  <div id="edit-project-page">
    <button id="back-icon" mat-fab (click)="back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1 id="title">Edit Project</h1>
    <form #projectForm="ngForm" novalidate>

      <mat-form-field>
        <mat-error *ngIf="!validForm">Project name is required</mat-error>
        <input [(ngModel)]="projectToUpdate.name" id="project_name" matInput name="projectName"
          placeholder="Project Name" type="text" [ngModelOptions]="{standalone: true}" #name="ngModel">
      </mat-form-field>

      <mat-form-field>
        <mat-error *ngIf="!validForm">Batch name is required</mat-error>
        <input name="batchName" type="text" matInput placeholder="Batch Name" [(ngModel)]="projectToUpdate.batch"
          [ngModelOptions]="{standalone: true}" #batch="ngModel">
      </mat-form-field>

      <mat-form-field>
        <mat-error *ngIf="!validForm">Trainer name is required</mat-error>
        <input [(ngModel)]="projectToUpdate.trainer" matInput name="trainers" placeholder="Trainer Name" type="text"
          [ngModelOptions]="{standalone: true}" #trainerName="ngModel">
      </mat-form-field>

      <mat-form-field>
        <mat-error *ngIf="!validForm">Technology stack is required</mat-error>
        <mat-select #techStack="ngModel" [(ngModel)]="projectToUpdate.techStack" [ngModelOptions]="{standalone: true}"
          placeholder="Select Batch" required #techStack="ngModel">
          <mat-option *ngFor="let tech of techStackList" [value]="tech">
            {{tech}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-error *ngIf="!validForm">Description is required</mat-error>
        <textarea [(ngModel)]="projectToUpdate.description" matInput name="description"
          placeholder="Project Description" [ngModelOptions]="{standalone: true}" #description="ngModel"
          required></textarea>
      </mat-form-field>

      <div id="add-members">
        <div id="add-members-inner">
        <h3>Add a Group Member</h3>
        <mat-form-field>
          <input matInput placeholder="Add Group Member" [(ngModel)]="groupMember" name="hello">
        </mat-form-field>
        <div>
        <button (click)="addGroupMember()" mat-raised-button color="accent">Add</button>
        </div>
        <div class="parent-div" id="group-members">
          <h3>Select a Group Member to Remove</h3>
          <div *ngFor="let groupMember of this.projectToUpdate.groupMembers" mat-flat-button color="accent"
            (click)="removeGroupMember($event)">{{groupMember}}</div>
        </div>
      </div>
      </div>


      <div class="parent-div" id="control-buttons">
        <button (click)="submitForm()" [disabled]="(!name.valid) || (!batch.valid) || (!trainerName.valid) ||
            (!description.valid) || (!techStack.valid)" type="submit" id="submit-update" mat-flat-button
          color="accent">Submit Request</button>
        <button (click)="cancelEdit()" color="warn" mat-flat-button>Cancel</button>
      </div>
    </form>
  </div>
</mat-card>
