<mat-card>
  <div id="edit-project-page">
        <button id="back-icon" mat-fab (click)="back()"><mat-icon>arrow_back</mat-icon></button>
        <h1 id="title">Edit Project</h1>
      <form  #projectForm="ngForm" novalidate>
          
            
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-error *ngIf="!validForm">Project name is required</mat-error>
                  <input [(ngModel)]="projectToUpdate.name"
                        id="project_name" matInput name="projectName" placeholder="Project Name" type="text"
                        [ngModelOptions]="{standalone: true}" #name="ngModel">
                  </mat-form-field>

            
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-error *ngIf="!validForm">Batch name is required</mat-error>
                  <input name="batchName" type="text"
                        matInput placeholder="Batch Name" [(ngModel)]="projectToUpdate.batch" [ngModelOptions]="{standalone: true}" #batch="ngModel">
                  </mat-form-field>



        
            
              
                  <mat-form-field class="example-full-width" appearance="outline">
                      <mat-error *ngIf="!validForm">Trainer name is required</mat-error>
                    <input
                          [(ngModel)]="projectToUpdate.trainer" matInput name="trainers" placeholder="Trainer Name" type="text"
                          [ngModelOptions]="{standalone: true}" #trainerName="ngModel">
                    </mat-form-field>
              

              <mat-form-field class="example-full-width" appearance="outline">
                  <mat-error *ngIf="!validForm">Technology stack is required</mat-error>
                <mat-select
                  #techStack="ngModel"
                  [(ngModel)]="projectToUpdate.techStack"
                  [ngModelOptions]="{standalone: true}" placeholder="Select Batch"
                  required #techStack="ngModel">
                    <mat-option *ngFor="let tech of techStackList" [value]="tech">
                      {{tech}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
            

          
                  <mat-form-field class="example-full-width"  appearance="outline">
                      <mat-error *ngIf="!validForm">Description is required</mat-error>
                    <textarea [(ngModel)]="projectToUpdate.description"
                              matInput name="description" placeholder="Project Description"
                              [ngModelOptions]="{standalone: true}" #description="ngModel" required></textarea>
                    </mat-form-field>
              

            <div >
            <h3>Add a Group Member</h3>
            <mat-form-field>
              <input matInput placeholder="Add Group Member" [(ngModel)]="groupMember" name="hello" (keydown.enter)="addGroupMember()" >
            </mat-form-field>


              <h3>Select a Group Member to Remove</h3>
            <span *ngFor = "let groupMember of this.projectToUpdate.groupMembers">
              <span>
              <button mat-raised-button (click)= "removeGroupMember($event)" >{{groupMember}}</button>
              </span>
            </span>
            </div>
              <br>
        <button (click)="submitForm()" [disabled]="(!name.valid) || (!batch.valid) || (!trainerName.valid) ||
            (!description.valid) || (!techStack.valid)" type="submit" id="submit-update" mat-flat-button color="accent">Update Project</button>
            <br>
            <br>
            <br>
            <br>
        <button (click)="deleteProject()" color="accent" id="submit" mat-flat-button>Delete Project</button>
            <br>
        <br>
          </form>

  </div>
</mat-card>

