<h2>Project Info</h2>

<div id="project-list" *ngIf="project">
        <div id="title">Title</div>
        <div id="title-name">{{project.name}}</div>
        <div id="trainer">Trainer</div>
        <div id="tname">{{project.trainer}}</div>
        <div id="batch">Batch</div>
        <div id="bname">{{project.batch}}</div>
        <div id="developers">Developers</div>
        <div id="dnames"><span *ngFor="let developer of project.groupMembers">{{developer}},&nbsp;</span></div>
        <div>
            <!-- <button mat-flat-button *ngIf="yourProject" (click)="updateProject()">Update Project</button>            
            <button mat-flat-button>Codebase</button> -->
        </div>
</div>