<app-navbar></app-navbar>
 <div class="my-theme">
    <h1 id="title">Edit Project</h1>
    <form  #projectForm="ngForm" novalidate>
        <table class="example-full-width" cellspacing="5"><tr>
          <td>
              <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Project Name</mat-label>
                  <mat-error *ngIf="!validForm">Project name is required</mat-error>
                  <input (blur)="checkForValidField(name, batch, trainerName, description, techStack)" id="project_name" 
                  name="projectName" type="text" matInput placeholder="Project Name" [(ngModel)]="projectToUpdate.name" 
                  [ngModelOptions]="{standalone: true}" required #name="ngModel">
                </mat-form-field>
          </td>
          <td>
              <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Batch Name</mat-label>
                  <mat-error *ngIf="!validForm">Batch name is required</mat-error>
                  <input (blur)="checkForValidField(name, batch, trainerName, description, techStack)" type="text" name="batchName" 
                  matInput placeholder="Batch Name" [(ngModel)]="projectToUpdate.batch" [ngModelOptions]="{standalone: true}" required #batch="ngModel">
                </mat-form-field>
          </td>
        </tr></table>
      
    
        <table class="example-full-width" cellspacing="5">
          <tr>
            <td>
                <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Trainer Name</mat-label>
                    <mat-error *ngIf="!validForm">Trainer name is required</mat-error>
                    <input  (blur)="checkForValidField(name, batch, trainerName, description, techStack)" 
                    type="text" name="trainers" matInput placeholder="Trainer Name" [(ngModel)]="projectToUpdate.trainer" 
                    [ngModelOptions]="{standalone: true}" required #trainerName="ngModel">
                  </mat-form-field>
            </td>
            <td><mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Tecknology Stack</mat-label>
              <mat-error *ngIf="!validForm">Technology stack is required</mat-error>
              <input type="text"  (blur)="checkForValidField(name, batch, trainerName, description, techStack)" type=text matInput 
              name="stack" placeholder="Project Technology Stack" [(ngModel)]="projectToUpdate.techStack" 
              [ngModelOptions]="{standalone: true}" required #techStack="ngModel">
            </mat-form-field></td>
          </tr>
        </table>
    
        <table class="example-full-width" cellspacing="5"><tr>
            <td>
                <mat-form-field class="example-full-width"  appearance="outline">
                        <mat-label>Description</mat-label>
                    <mat-error *ngIf="!validForm">Description is required</mat-error>
                    <textarea  (blur)="checkForValidField(name, batch, trainerName, description, techStack)" matInput 
                    name="description" placeholder="Project Description" [(ngModel)]="projectToUpdate.description" 
                    [ngModelOptions]="{standalone: true}" #description="ngModel" required></textarea>
                  </mat-form-field>
            </td>
            </tr>
        </table>
            <br>
           <button (click)="submitForm()" [disabled]="(!name.valid) || (!batch.valid) || (!trainerName.valid) || 
          (!description.valid) || (!techStack.valid)" type="submit" id="submit" mat-flat-button color="accent">Update Project</button>
          <br>
          <br>
          <br>
          <br>
          <button (click)="deleteProject()" id="submit" mat-flat-button color="accent">Delete Project</button>      
        </form>
      
 </div>
 