<div class="background">
  <div class="header">Code Base Viewer</div>
    <div class="btn-container">
      <button *ngFor="let link of availableUrls" class="btn-open btn-side"(click)='sendRequest(link)'>
        <div class="btn-img">🗁</div>
        <!-- The button text for these buttons require further guidance from higher. -->
        <div class="btn-txt">{{title}}</div>
      </button>
      <label class="fileContainer">
        <div class="btn-img">🗁</div>
        <div class="btn-txt">Local</div>
        <input #fileOpener type="file" (change)='openData(fileOpener.files[0])'>
      </label>
      <button class="btn-home btn-side"(click)='goBack()'>
        <div class="btn-img">⌂</div>
        <div class="btn-txt">Home</div>
      </button>
      <div class="display-text">&nbsp;&#x25b7; Explorer</div>
      <div>
      <p *ngFor="let help of RenderFile" [class.selected_p]="SelectedFile === help" (click)="openRenderFile(help)">{{help.fileName}}</p>
    </div>
    </div>
  <div class="container_div">
    <div *ngIf="OpenFile.length!==0" class="file_header">
      <button  class="btn-file"
                (click)="SelectedFile = help" 
                [class.selected_btn]="SelectedFile === help" 
                *ngFor="let help of OpenFile">
                <div class="x" (click)="closeRenderFile(help)">X</div>
                  {{help.fileName}}
                  
      </button>
     
      <!-- <details [open]="SelectedFile === help" (click)="SelectedFile = help" *ngFor="let help of RenderFile">
        <summary >{{help.fileName}}</summary>
      </details> -->
    </div>
  <div class="editor" [innerHTML]="SelectedFile.fileContent| lineNumber | lex">  </div>

    <!--  <textarea hidden #editortext (scroll)="scrollEditor()" autocomplete="off" autocorrect="off" autocapitalize="off"
                spellcheck="false" class="editor-input" [(ngModel)]="SelectedFile.fileContent">  </textarea> -->
  </div>
</div>