<div class="background">
  <div class="header"><span> Code Base Viewer</span></div>
    <div class="btn-container">
      <button *ngFor="let link of availableUrls" class="btn-open btn-side"(click)='sendRequest(link)' [title]="safeTitle(link)">🗁</button>
      <label class="fileContainer" title="Open Local File"> 🗁
        <input #fileOpener type="file" class="" (change)='openData(fileOpener.files[0])' >
        </label>
      <button class="btn-home btn-side"(click)='goBack()' title="Home">⌂</button>
    
      <h4 class="display-text"> &#x25b7; Explorer</h4>
      <div>
      <p *ngFor="let help of RenderFile" [class.selected_p]="SelectedFile === help"  (click)="openRenderFile(help)">{{help.fileName}}</p>
    </div>
    </div>
  <div class="container_div">
    <div *ngIf="OpenFile.length!==0" class="file_header">
      <button  class="btn-file"
                (click)="SelectedFile = help" 
                [class.selected_btn]="SelectedFile === help" 
                *ngFor="let help of OpenFile">
                <div class="x" (click)="closeRenderFile(help)">X</div>
                  {{help.fileName}}
                  
      </button>
     
      <!-- <details [open]="SelectedFile === help" (click)="SelectedFile = help" *ngFor="let help of RenderFile">
        <summary >{{help.fileName}}</summary>
      </details> -->
    </div>
  <div class="editor" [innerHTML]="SelectedFile.fileContent| lineNumber | lex">  </div>

    <!--  <textarea hidden #editortext (scroll)="scrollEditor()" autocomplete="off" autocorrect="off" autocapitalize="off"
                spellcheck="false" class="editor-input" [(ngModel)]="SelectedFile.fileContent">  </textarea> -->
  </div>
</div>