<div class="background">
  <div class="header"><span>JSZip Demo</span></div>
    <div class="btn-container">
      <button (click)='sendRequest()'>🗁</button>
      <h4 class="display-text">Explorer</h4>
      <div>
      <p *ngFor="let help of RenderFile" [class.selected_p]="SelectedFile === help"  (click)="SelectedFile = help">{{help.fileName}}</p>
    </div>
    </div>
  <div class="container_div">

  <!-- <ul>
    <li *ngFor="let string of  RenderFileName">
        {{string}}
    </li>
  </ul> -->
    <div class="file_header">
      <details *ngFor="let help of RenderFile">
        <summary (click)="SelectedFile = help">{{help.fileName}}</summary>
        <!-- <textarea placeholder="{{(help.fileContent | lineNumber)}}" disabled=true></textarea> -->
      </details>
    </div>
  <div class="editor" [innerHTML]="SelectedFile.fileContent| lineNumber | lex">  </div>

    <!-- <textarea [value]="SelectedFile.fileContent | lineNumber " disabled></textarea> -->
  </div>
</div>
