$Saturation100: rgb(24, 23, 23);
$Saturation90: rgb(39, 38, 38);
$Saturation80: rgb(54, 53, 53);
$Saturation80alpha50: rgba(78, 77, 77, 0.452);
$Saturation20: rgb(134, 134, 134);
$Contrast: white;
$Shadow: rgb(161, 236, 154);
$Border: rgb(66, 66, 66);
$TextImportant: white;
$TextPassive: gray;
$baseColor: rgb(29, 29, 29);

$orangePallet: (
    50: #fff2e0,
    100: #ffdeb3,
    200: #ffc980,
    300: #ffb34d,
    400: #ffa226,
    500: #ff9200,
    600: #ff8a00,
    700: #ff7f00,
    800: #ff7500,
    900: #ff6300,
    A100: #ffffff,
    A200: #fff6f2,
    A400: #ffd4bf,
    A700: #ffc3a6,
);
.background{
  background-color: $baseColor;
   min-height:100vh;
   font-family: monospace;
}
.container{
  min-height:100vh;
  font-family: monospace;
  background-color: $baseColor;
}
//base element styling.
details{
  display: inline-block;

  height: 2em;
  width: 200px;
  cursor: default;
}
details:focus{
  border-color: $Border;
  margin:0px;
}
details summary{
  display: inline-block;
  padding-top:.25em;
  overflow: hidden; 
  /* box-shadow: 0px 0px 8px rgb(231, 247, 89); */
  /* border-radius: 5px; */
  /* border-color: rgb(39, 39, 39);*/
  border-style: solid;
  border-left-color: $Border;
  border-right-color:  $Border;
  border-top-color:  $Border;
  border-bottom-style: none;
  border-width: 1px;
  height: 2em;
  width: 200px;
  padding-left:1em;
  background-color: $Saturation80;
  color: $TextPassive;
  font-weight: bold;
}
details summary::-webkit-details-marker {
    display:none;
  }
  details:focus{
    outline: none;
  }
details summary:focus{
  /* box-shadow: 0px 0px 8px rgb(247, 71, 138); */
  outline: none;
  white-space: nowrap;
}
details[open] {
  background-color: $Saturation100;
}
details[open] summary{
  background-color: $Saturation100;
  color: $TextImportant;
  border-style: none;
  border-bottom-style: none;
  border-bottom-color: $Saturation100;
  box-shadow: 0px 2px 2px $Saturation90;
}

button{
  border-color: rgb(216, 121, 139);
  border-style: none;
  border-width: 0px;
  box-shadow: 2px 2px 8px $Saturation100;
  background-color:  $Saturation80;
  // border-radius: 5px;
  height:1.5em;
  width:1.5em;
  font-size: 2em;
  color: $TextPassive;
  float:left;
  top:0;
  clear: left;
}

button:hover{
  background-color: $Saturation100;
  border-color: rgb(255, 203, 212);
  
}

button:click{
  background-color: $Saturation20;
}
textarea{
    height: 30em;
    width: 50em;
    resize: none;
    background-color: $Saturation100;
    color: $TextImportant;
    border-radius: 2px;
    padding: 1em;
    border-style: none;
    /* box-shadow: 0px 0px 8px rgb(206, 71, 177); */
}
::-webkit-scrollbar-thumb {
  background-color:$Saturation80alpha50;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px $Saturation100;
}
::-webkit-scrollbar {
  background-color: $Saturation100;
}
::-webkit-input-placeholder { /* Chrome */
    color: $TextImportant;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color:  $TextImportant;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color:  $TextImportant;
    opacity: 1;
  }
  :-moz-placeholder { /* Firefox 4 - 18 */
    color:  $TextImportant;
    opacity: 1;
  }
//end of base element styling.
//file header menu css
.file_header{
  overflow-x: hidden;
  overflow-y: hidden;
  height: 2.2em;
  width: 100%;
  white-space: nowrap; 
}
.file_header:hover{
  overflow-x: scroll;
  height: 3em;
}
.file_header > button{
  font-size: 1em;
  float: none;
  clear: none;
  display: inline-block;
  // border-style: solid;
  // border-left-color: $Border;
  // border-right-color:  $Border;
  // border-top-color:  $Border;
  // border-bottom-style: none;
  border-width: 1px;
  height: 2em;
  width: 200px;
  margin:0px;
  padding-left:1em;
  background-color: $Saturation80;
  box-shadow: none;
  overflow:hidden;
}
.file_header > button.selected_btn{
  background-color: $Saturation100;
  color: $TextImportant;
 
}
.file_header > button:focus{
  outline: none;
}
.x{
  float: left;
  height: 1em;
  width: 1em;
  margin-right: .5em;
  background-color: rgba(255, 255, 255, 0);
  font-size: 1em;
  color: rgba(255, 255, 255, 0);
}
.file_header > button:hover {
  color:$TextImportant;
}
.file_header > button:hover > .x{
  color:rgb(255, 255, 255);
  font-weight: bold;
}

//end of file header menu css

//side bar css
.fileContainer {
  overflow: hidden;

  border-color: rgb(216, 121, 139);
  border-style: none;
  border-width: 0px;
  box-shadow: 2px 2px 8px $Saturation100;
  background-color:  $Saturation80;
  // border-radius: 5px;
  padding: .2em;
  font-size: 2em;
  height:37px;
  width:37px;
  text-align: center;
  color: $TextPassive;
  float:left;
  top:0;
  clear: left;
  color:rgb(85, 255, 85);
}



.fileContainer:hover{
  background-color: $Saturation100;
  border-color: rgb(255, 203, 212);
  color:rgb(85, 255, 85);
  
}
.fileContainer [type=file] {
  cursor: inherit;
  display: block;
  font-size: 2em;
  filter: alpha(opacity=0);
  height:.1px;
  width:.1px;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}
.btn-container{
  position: relative;
  top: 0;
  left: 0;
  width: 14%;
  display: block;
  float: left;
  height: 80vh;
  background-color: $baseColor;
  
}
.btn-open{
  color: rgb(31, 183, 243);
}
.btn-open:hover{
  color: rgb(31, 183, 243);
}
.btn-home{
  color: rgb(243, 31, 31);
}
.btn-home:hover{
  color: rgb(243, 31, 31);
}
.selected_p{
  background-color:  $Saturation80;
 
}

.btn-container>div{
  padding-left:0px;
  height:70vh;
  overflow-y:hidden;
  overflow-x:hidden;
}
.btn-container>div>p{
  color: $TextImportant;
  margin:0px;
  padding:5px 0px 5px 0px;
  font-size: .9em;
  padding-left:1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: default;
}
.btn-container>div>p:hover{
  background-color: $Saturation90;
}
.btn-container>div>.selected_p:hover{
  background-color:  $Saturation80;
}
.btn-container>div:hover{
  overflow-y:auto;
}

//end of side bar css
//code display css
.container_div{
  margin-top: 1px;
  margin-left: 0px;
  padding-top: 0;
  width: 90%;
  max-width: 86%;
  min-height:96vh;
  height: 92vh;
  overflow: hidden;
  background-color: $Saturation90;
  border-left-color: $Border;
  border-left-width: 1px;
  border-left-style: none;
  display: block;
  float:right;
  
}
.editor{
  widows: 60vw;
  left: 17.4em;
  height: 95vh;
  text-align: left;
  overflow-y: scroll;
  overflow-x: auto;
  white-space: pre;
  background-color: $Saturation100;
  color: rgb(161, 229, 238);
  cursor: default;

}
//header css
.header {
 
  max-width: 100%;
  background-color: #ff6300;
  /*
  *background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0)60%, rgba(255, 77, 246, 0.24));
  */padding-left:10em;
  padding-top: 2px;
  height: 30px;
  min-height: 30px;
  margin: 0%;
  box-shadow: $Shadow;
}
.header > span{
  // text-shadow: 1px 0px 1px #faea07f3, -1px 0px 1px #f70cd7f3;
  font-size: 1.5em;
  color: $TextImportant;
}
.display-text{
  color: $TextImportant;
  background-color: $Saturation80;
  padding: 5px 0px 5px 0px;
  word-wrap: normal;
}
//end of code display css