<div id="project-list-tabs" class="flex-container">
    <button *ngFor="let project of projects" mat-flat-button>{{project.title}}</button>
</div>
<div id="project-list-dropdown">
    <mat-accordion>
        <mat-expansion-panel id="view-project-list">
            <mat-expansion-panel-header>
                <mat-panel-title>Select a Project</mat-panel-title>
            </mat-expansion-panel-header>
            <button *ngFor="let project of projects" mat-flat-button>{{project.title}}</button>
        </mat-expansion-panel>
    </mat-accordion>
</div>