.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
  
  #title{
    text-align: center;
  }
  
  #userActions{
    width: 100%;
  }
  
  .labelColor{
    color: white;
  }
  
  #view-project-layout {
    padding: 1%;
  }
  
  .full-width{
    flex: 1 1 auto;
  }
  
  table {
    width: 100%;
    cursor: default;
  }
  
  .table-container {
    height: 70vh;
    overflow: auto;
  }
  
  tr.detail-row {
    height: 0;
  }
  
  tr.project-row:not(.expanded-row):hover {
    background: #f5f5f5;
  }
  
  tr.project-row:not(.expanded-row):active {
    background: #efefef;
  }
  
  .project-row td {
    border-bottom-width: 0;
  }
  
  .project-detail {
    overflow: hidden;
    display: flex;
  }
  
  #expanded-row {
  flex-direction: row;
  }
  
  #project-image {
    max-width: 40vh; 
    max-height: 40vh;
    min-width: 40vh; 
    min-height: 40vh;
    border: 2px solid black;
    padding: 16px;
    margin: 8px 0;
  }
  
  #group-members-label{
    padding-top: 8vh;
    padding-left: 2vh;
    padding-right: 1vh;
  }
  
  #description-label{
    padding-top: 12vh;
    padding-left: 2vh;
    padding-right: 1vh;
  }
  
  #project-members {
    padding-top: 8vh;
    text-align: left;
  }
  
  #project-description {
    padding-top: 8vh;
    text-align: left;
  }
  
  #arrow-icon {
    margin-top: 20vh;
  }
  
  #codebase-button {
    padding-top: 8vh; 
    padding-left: 5vh;
  }
  
  #edit-button {
    padding-top: 8vh;
  }
  
  //added in first Trevin's batch commit, styles the pages text next to filter
  .pages{
    display:inline;
    margin-right:1.5rem;
    cursor: pointer;
    font-size:24px;
  }

  #aa {
    position: relative;
    margin-left: 35%;
    // display:inline;
    float:left;
  }
  
  #aaa {
    // display:inline;
    float:left;
    font-family: "Courier New", sans-serif;
    margin-top: 30px;
    font-size: 15px;
    margin-left: 30px;
  }

  .mobile-label {
    display: none;
  } 
  
  @media screen and (max-width: 960px) {
    .mat-elevation-z8 {
      background: transparent;
      box-shadow: none;
    }
  
    #project-image
    {
      min-width: 25vh;
      min-height: 25vh;
      max-height: 25vh;
      max-width: 25vh;
      size: auto;
    }
    #arrow-icon
    {
      margin-top: 12.5vh;
    }
  
    #container
    {
      display: block;
    }
  
    .mobile-label {
      width: 80px;
      display: inline-block;
          font-weight: bold;
    }
  
    .mat-header-row {
      display: none;
    }
  
    // tbody {
    //   display: block;
    //   width: 100%;
    // }
    
    // .mat-table {
    //   background: transparent;
    //   * {
    //     box-sizing: border-box;
    //   }
  
      .mat-row {
        // display: block;
        // overflow: hidden;
        height: auto;
        // position: relative;
        // clear: both;
        box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
        background-color: #fff;
        border-radius: 3px;
        + .mat-row {
          margin-top: 24px;
        }
      }
  
      .mat-cell {
        display: block;
        width: 100%;
        padding: 0 16px;
        margin: 16px 0;
        border: 0 none;
        &:first-child {
          padding: 0 48px 0 16px;
          a {
            font-size: 20px;
            color: inherit;
          }
          &:before {
            display: none;
          }
        }
        &.m-card-sub-title {
          margin-top: -8px;
          padding: 0 48px 0 16px;
          color: rgba(0,0,0,.54);
        }
      }
  
      .has_label_on_mobile {
        &:before {
          content: attr(data-label);
          display: inline;
          font-weight: normal;
        }
      }
  
      .mat-column-star {
        width: auto;
        padding: 8px 0 0 !important;
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
        &:before {
          display: none;
        }
      }
    
  
    // .mat-paginator {
    //   margin-top: 24px;
    // }  
  }
