@import '~@angular/material/theming';


$darker-grey: mat-color($mat-grey, 800);
$dark-grey: mat-color($mat-grey, 700);
$light-grey: mat-color($mat-grey, 200);
$black: mat-color($mat-grey,900);

$font: 'Courier New', sans-serif;

#rpm-logo {
    max-width: auto;
    max-height: 100%;
    margin-top: 30px;
}

#title {
    text-align: center;
    margin-top: 30px;
    font-size: 42px;
    color: #ffa226,
}

#login-container {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0px;
    min-height: 100%;

    mat-card {
        margin: 0 auto;
       
        mat-card-header {
            justify-content: center;

            mat-card-title {
                color: $black;
                font-family: $font;
                font-size: 300%;
            }
        }

        mat-card-content {
            justify-content: center;

            input {
                color: $dark-grey;
                font-family: $font;
                font-size: 120%;
            }

            button {
                width: 100%;
                color: $light-grey;
                font-family: $font;
                font-size: 120%;
                margin-top: 23%;
            }

            a {
                margin-top: 2%;
                width: 100%;
                background-color: #091abd;
                color: $light-grey;
                font-family: $font;
                font-size: 120%;
            }

            a:hover {
                background-color: #091abd;
                text-decoration: none;
            }
        }
    }
}

#field {
    font-size: 14px;
    color:red;
}

#registerSpinner {
    font-family: "Courier New", sans-serif;
}

#o {
    font-family: "Courier New", sans-serif;
}