<app-app-logo></app-app-logo>
<div class="my-theme" id="login-container">
  <mat-jumbotron color="accent" id="jumbotron">
    <mat-jumbotron-content id="content">      
      <mat-card>
        <mat-card-header>
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <br/>
          <br/>
          <mat-form-field appearance="outline">
            <input matInput type="text" placeholder="Username" id="username" [(ngModel)]="user.username">
          </mat-form-field>
          <br />
          <mat-form-field appearance="outline">
            <input matInput type="password" placeholder="Password" id="password" [(ngModel)]="user.password">
          </mat-form-field>
          <br />
          <br />
          <button color="accent" mat-flat-button type="button" (click)="login()">Login</button>

          <a mat-button routerLink="/auth/register">Register</a>
        </mat-card-content>
      </mat-card>
    </mat-jumbotron-content>
  </mat-jumbotron>
</div>
