<app-navbar></app-navbar>
 <div class="my-theme">
    <h1 id="title">Submit a Project</h1>
    <form  #projectForm="ngForm" (ngSubmit)="submitForm()" novalidate>
        <table class="example-full-width" cellspacing="5"><tr>
          <td>
              <mat-form-field class="example-full-width">
                  <mat-error *ngIf="!name.valid || name.pristine">Project name is required</mat-error>
                  <input id="project_name" name="projectName" type="text" matInput placeholder="Project Name" [(ngModel)]="projectToUpload.name" 
                  [ngModelOptions]="{standalone: true}" required #name="ngModel">
                </mat-form-field>
          </td>
          <td>
              <mat-form-field class="example-full-width">
                  <mat-error *ngIf="!batch.valid || batch.pristine">Batch name is required</mat-error>
                  <input type="text" name="batchName" matInput placeholder="Batch Name" [(ngModel)]="projectToUpload.batch" 
                  [ngModelOptions]="{standalone: true}" required #batch="ngModel">
                </mat-form-field>
          </td>
        </tr></table>
      
    
        <table class="example-full-width" cellspacing="5">
          <tr>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-error *ngIf="!trainerName.valid || trainerName.pristine">Trainer name is required</mat-error>
                    <input type="text" name="trainers" matInput placeholder="Trainer Name" [(ngModel)]="projectToUpload.userFullName" 
                    [ngModelOptions]="{standalone: true}" required #trainerName="ngModel">
                  </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-error *ngIf="!groupMembers.valid || groupMembers.pristine">Group members are required</mat-error>
                  <input type="text" matInput name="groupMembers" placeholder="Group Members" [(ngModel)]="groupMemberString" 
                    [ngModelOptions]="{standalone: true}" required #groupMembers="ngModel">
                  </mat-form-field>
            </td>
          </tr>
        </table>
    
        <table class="example-full-width" cellspacing="5"><tr>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-error *ngIf="!description.valid || description.pristine">Description is required</mat-error>
                    <textarea matInput name="description" placeholder="Project Description" [(ngModel)]="projectToUpload.description" 
                    [ngModelOptions]="{standalone: true}" #description="ngModel" required></textarea>
                  </mat-form-field>
            </td>
        </tr></table>
    
        <table class="example-full-width" cellspacing="5">
            <tr>
              <td>
                  <mat-form-field class="example-full-width">
                      <mat-error *ngIf="!zipLinks.valid || zipLinks.pristine">Github repository links are required</mat-error>
                      <input type="text" name="repoLinks" matInput placeholder="Project Repository Links" [(ngModel)]="zipLinksString" 
                      [ngModelOptions]="{standalone: true}" #zipLinks="ngModel" required>
                    </mat-form-field>
              </td>
              <td><mat-form-field class="example-full-width">
                  <mat-error *ngIf="!techStack.valid || techStack.pristine">Technology stack is required</mat-error>
                  <input type=text matInput name="stack" placeholder="Project Technology Stack" [(ngModel)]="projectToUpload.techStack" 
                  [ngModelOptions]="{standalone: true}" required #techStack="ngModel">
                </mat-form-field></td>
            </tr>
          </table>
    
          <table class="example-full-width" cellspacing="5">
              <tr>
                <td>
                    <label for="screenShots">Choose Project Screenshots:  </label>
                    <input id="screenShots" type="file" (change)="onFileSelected($event)" accept="image/*" multiple required>
                </td>
              </tr>
            </table>
            <br>
           <button [disabled]="(!name.valid || name.pristine) || (!batch.valid || batch.pristine) || (!trainerName.valid || trainerName.pristine) || 
           (!groupMembers.valid || groupMembers.pristine) || (!description.valid || description.pristine) || (!zipLinks.valid || zipLinks.pristine) || 
           (!techStack.valid || techStack.pristine) || !validForm" type="submit" id="submit" mat-flat-button color="accent">Submit Project</button>
      </form>
 </div>
 