<mat-sidenav-container>
    <mat-sidenav opened=false mode="push" #sidenav class="flex-container">
        <app-nav-menu (menuOptionClicked)="sidenav.toggle()"></app-nav-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon id="hamburger">menu</mat-icon>
                </button>
                <div class="spacer"></div>
                <div class="toolbar-options">
                    <div class="inline-block-div" *ngIf="homepage">
                        <a (click)="goToElement('about')">About RPM</a>
                        <a (click)="goToElement('projects')">Projects</a>
                    </div>
                    <div class="inline-block-div">
                        <a>
                            <mat-icon>settings</mat-icon>
                        </a>
                        <!--Notification bell: shows if there are unread notifications-->
                        <button mat-button [matMenuTriggerFor]="menu">
                            <a>
                                <mat-icon *ngIf="!activeNotifications">notifications</mat-icon>
                                <mat-icon matBadgeColor="accent" matBadge="{{parseCount}}"
                                    matBadgePosition="above after" *ngIf="activeNotifications">notifications_active
                                </mat-icon>
                            </a>
                        </button>
                        <!--Drop-down Menu-->
                        <mat-menu #menu="matMenu" xPosition="before" style="padding-bottom:0">
                            <!--Function to mark all notifications as read-->
                            <div class="mark-as-read-div">
                                <span id="notificationSpan">Notifications <em><small>({{ count }})</small></em></span>
                                <a style="cursor:pointer; color:#f37638; width:100%" (click)="readAll()">Mark all as
                                    read</a>
                            </div>
                            <hr>
                            <!--Iterator of the notifications-->
                            <div id="dropdown-item-holder">
                                <ng-container *ngFor="let notification of notifications" (click)="routeToProject(notification)">
                                    <a mat-menu-item class="unread" *ngIf="!notification.isRead; else notificationIsRead" (click)="routeToProject(notification)">
                                        <span><strong>{{ notification.title }} </strong></span>
                                        <em><span class="date-span">{{ notification.dateCreated | timeAgo }}</span></em>
                                        <div>
                                            <pre class="short-description-pre">{{ notification.shortDescription | ellipsis:137 }}</pre>
                                            <button class="read-button" mat-icon-button (click)="markRead(notification)" matTooltip="Mark as read" [matTooltipPosition]="'above'" [matTooltipShowDelay]="'500'"></button>
                                        </div>
                                    </a>
                                    <ng-template #notificationIsRead>
                                        <a mat-menu-item *ngIf="notification.isRead" (click)="routeToProject(notification)">
                                            <span><strong>{{ notification.title }} </strong></span>
                                            <em><span
                                                    class="date-span">{{ notification.dateCreated | timeAgo }}</span></em>
                                            <div>
                                                <pre class="short-description-pre">{{ notification.shortDescription | ellipsis:137 }}</pre>
                                                <button class="unread-button" mat-icon-button (click)="markUnread(notification)" matTooltip="Mark as unread" [matTooltipPosition]="'above'" [matTooltipShowDelay]="'500'"></button>
                                            </div>
                                        </a>
                                    </ng-template>
                                    <hr style="color:grey">
                                </ng-container>
                            </div>
                            <!--Link to page for all notifications-->
                            <div class="see-all-div">
                                <a style="cursor:pointer; color: #6a95ae; width: 100%" [routerLink]="['/notifications']" routerLinkActive="router-link-active">
                                    See all
                                </a>
                            </div>
                        </mat-menu>
                        <img class="user-avatar" src="assets/images/chinchilla2.jpg" alt="User Avatar" (click)="routeToProfile();">
                    </div>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>