<mat-sidenav-container>

	<mat-sidenav opened=false mode="push" #sidenav class="flex-container">
		<app-nav-menu (menuOptionClicked)="sidenav.toggle()"></app-nav-menu>
	</mat-sidenav>

	<mat-sidenav-content>

		<mat-toolbar color="primary">
			<mat-toolbar-row>
				<button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenav.toggle()">
					<mat-icon id="hamburger">menu</mat-icon>
				</button>
				<div class="spacer"></div>
				<div class="toolbar-options">

					<div class="inline-block-div" *ngIf="homepage">
						<a (click)="goToElement('about')">About RPM</a>
						<a (click)="goToElement('projects')">Projects</a>
					</div>

					<div class="inline-block-div" *ngIf="loggedIn">
						<a><mat-icon>settings</mat-icon></a>
						<!--Notification bell: shows if there are unread notifications-->
						<button mat-button [matMenuTriggerFor]="menu">
							<a><mat-icon *ngIf="!notification">notifications</mat-icon>
								<mat-icon matBadgeColor="accent" matBadge="{{count}}" matBadgePosition="above after"
									*ngIf="notification">notifications_active</mat-icon></a>
						</button>
						<mat-menu #menu="matMenu">
							<!--Replace with *ngFor="let project of projects-->
							<button mat-menu-item>Item 1</button>
							<button mat-menu-item>Item 2</button>
							<button mat-menu-item (click)="AllNotifications()">See All</button>
						</mat-menu>
						<img class="user-avatar" src="assets/images/chinchilla2.jpg" (click)="routeToProfile();">
					</div>

				</div>
			</mat-toolbar-row>

		</mat-toolbar>

		<router-outlet></router-outlet>

	</mat-sidenav-content>

</mat-sidenav-container>