/*
    Please don't use Bootstrap! Angular Material
    and Flexbox are so much better! Once you try
    it, you won't go back.

    Angular Material documentation:     https://material.angular.io/
    Excellent, quick Material tutorials:     https://youtu.be/bV8emCBmFHk
    Flexbox tutorial:     https://www.w3schools.com/css/css3_flexbox.asp
    20-minute SCSS tutorial:     https://youtu.be/Zz6eOVaaelI
    Scaling apps in Angular:     https://youtu.be/Bhd2ayEE9mg
*/
/*
    @import src/variables.scss relative to this file
    in order to use the global SCSS variables within
    this file. (Don't include the underscore in
    _variables.scss when importing. If you want to
    know why: http://alistapart.com/article/getting-started-with-sass/)

    Open the _variables.scss file in a new tab so you
    can use and make SCSS variables and make everyone's
    lives easier.
*/
@import '../../../../variables';

mat-sidenav-container {
	height: 100%;

	mat-sidenav {
        max-width: 70%;
        width: 18rem;
        min-width: 10rem;
        height: 100%;
		// background: $rev-gray-light;
    }
    
    mat-sidenav-content {
        mat-toolbar {
            align-content: center;
            padding: 0 1rem;

            .spacer {
                flex: 1 1 auto;
            }

            a {
                margin-right: 1.5rem;
                font-size: 1.1rem;
            }

            a:hover {
                cursor: pointer;
                border-bottom: 2px solid #fff;
            }
        }
    }

}

.user-avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: -10px;
    cursor: pointer;
}


// Please don't mess with the hamburger icon style (it's finely-tuned)

#hamburger {
    font-size: 2rem;
    height: 2rem;
    line-height: 100%;
    margin: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

@media (max-width: 767.98px) {
    .toolbar-options {
        visibility: hidden;
    }
}

::ng-deep .mat-menu-panel {
    width: 397px !important;
    max-width: none !important;
}

.mat-menu-item {
    line-height: 30px;
}

.unread:hover:not([disabled]){
    background: rgba(0, 0, 0, 0.2);
}

.unread {
    background: rgba(155, 156, 159, .3);
}