<mat-sidenav-container>

      <mat-sidenav opened=false mode="push" #sidenav class="flex-container">
      <app-nav-menu></app-nav-menu>
      </mat-sidenav>

      <mat-sidenav-content>

        <mat-toolbar color="primary" class="flex-container">

          <button id="hamburger-button" type="button" aria-label="Toggle sidenav" mat-button (click)="sidenav.toggle()">
            <mat-icon id="hamburger">menu</mat-icon>
          </button>

          <div id="right-buttons" class="flex-container">
            <div id="settings-notifications" class="flex-container">
              <mat-icon>settings</mat-icon>
              <!--
                Future sprints: It would be really cool
                to swap the notifications bell for an
                empty bell, ringing bell, crossed-out
                bell, etc. based on the circumstances.
                https://material.io/tools/icons/?search=notification&style=baseline
              -->
              <mat-icon>notifications</mat-icon>
            </div>
            <img class="user-avatar" [matMenuTriggerFor]="avatarMenu" src="../../../../assets/images/chinchilla2.jpg">
            <mat-menu #avatarMenu="matMenu">
              <button (click)="userAccount()" mat-menu-item>
                  <span>Profile</span>
              </button>
              <button (click)="logout()" mat-menu-item>
                  <span>Logout</span>
              </button>
            </mat-menu>
          </div>

        </mat-toolbar>

       <router-outlet></router-outlet>

      </mat-sidenav-content>
    </mat-sidenav-container>
