<div class="container">
      <button mat-icon-button mat-stroked-button color="primary" mat-button routerLink="/projects/home"
        matTooltip="Home" matTooltipPosition="right">
        <mat-icon>home</mat-icon>
      </button><br><br>
      <h1 id="profile-header"><strong>Profile</strong></h1>
  </div><br>
​
  <div class="container" fxLayout="row" fxLayout.xs="column">
    <p id="profile-text">Edit your profile information, and then press the 'Save' button to update your
      information.</p>
  </div><br>
  
    <hr id="line" color="#f26925"><br><br>
    <form [formGroup]="form">
    <div class="container">
        <mat-form-field>
          <input matInput readonly={{setReadOnly}} id="inputFirstName" placeholder="First Name" formControlName="firstName"
            (blur)=formFilled() (mouseleave)=formFilled() minlength="1" required>
          <mat-error *ngIf="form.get('firstName').hasError('minlength') && !form.get('firstName').hasError('required')">
            Must be at least <strong>2 characters</strong> long
          </mat-error>
          <mat-error *ngIf="form.get('firstName').hasError('required')">
            First name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      <div>
        <mat-form-field>
          <input matInput readonly={{setReadOnly}} id="inputLastName" placeholder="Last Name" formControlName="lastName"
            (blur)=formFilled() (mouseleave)=formFilled() minlength="1" required>
          <mat-error *ngIf="form.get('lastName').hasError('minlength') && !form.get('lastName').hasError('required')">
            Must be at least <strong>2 characters</strong> long
          </mat-error>
          <mat-error *ngIf="form.get('lastName').hasError('required')">
            Last name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
​
    <div class="container">
        <mat-form-field>
          <input matInput readonly={{setReadOnly}} id="inputEmail" placeholder="Email" formControlName="email"
            (blur)=formFilled() (mouseleave)=formFilled() [pattern]="emailPattern">
        </mat-form-field>
    
      <div>
        <mat-form-field>
          <input matInput readonly=true id="inputUsername" placeholder="Username" formControlName="username"
            (blur)=formFilled() (mouseleave)=formFilled()>
        </mat-form-field>
      </div>
    </div>
​
    <div class="container">
        <mat-form-field *ngIf="!setReadOnly">
          <input matInput readonly={{setReadOnly}} type="password" id="currInputPassword" placeholder="Current Password" 
          formControlName="currPassword" (blue)=formFilled() (mouseleave)=formFilled() minlength="8" required>
          <mat-error *ngIf="form.get('currPassword').hasError('minlength') && !form.get('currPassword').hasError('required')">
​
            Must be at least <strong>8 characters</strong>
          </mat-error>
          <mat-error *ngIf="form.get('currPassword').hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
    </div>
​
    <div class="container">
        <mat-form-field *ngIf="!setReadOnly">
          <input matInput readonly={{setReadOnly}} type="password" id="inputPassword" placeholder="New Password"
            formControlName="password" (blur)=retypeConfirmPassword() minlength="8">
          <mat-error *ngIf="form.get('password').hasError('minlength')">
            Must be at least <strong>8 characters</strong>
          </mat-error>
        </mat-form-field>
      <div>
        <mat-form-field *ngIf="!setReadOnly">
          <input matInput type="password" id="inputConfirmPassword" placeholder="Confirm New Password"
            formControlName="confirmPassword" (blur)=formFilled() (mouseleave)=formFilled()>
          <mat-error *ngIf="form.controls.confirmPassword.errors?.MatchPassword">
            Password must <strong>match</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
​
    <div class="container">
        <button class="btn" *ngIf="setReadOnly" type="button" mat-stroked-button (click)="setReadOnly=false">Edit</button>
        <button class="btn" *ngIf="!setReadOnly" type="button" mat-stroked-button [disabled]="disableButton"
          (click)="setReadOnly=true; updateProfile()">Save</button>
        <button class="btn" *ngIf="!setReadOnly" type="button" mat-stroked-button (click)="setReadOnly=true; cancelEditProfile()">Cancel</button>
    </div>
  </form>