@import '../../../../variables';

.welcome-backg {
    height: 100%;
    margin-top: -2rem;
    background: url('../../../../assets/images/BackgRpm2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#logo-block {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;

    img {
        position: relative;
        display: block;
        margin: 0 40%;
        width: 20rem;
    }

    span {
        color: $rev-gray-light;
        font-weight: 700;
        font-size: 1.5rem;
        display: block;
        margin-top: 0.8rem;
    }

    .btn {
        margin-top: 1rem;
        padding: 0.3rem 0.7rem;
        border-radius: 15px;
        background: #fff;
        display: inline-block;
    }

    .btn:hover {
        cursor: pointer;
        border: 1px solid $rev-orange-main;
        background: $rev-lighter-gray;
    }

    .btn:active {
        border: none;
    }
}


.main-blocks {
    width: $main-blocks-width;
    margin: $main-blocks-margin;
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    #logo-block {
        position: relative;
        top: 10%;
        img {
            width: 10rem;
            margin: 0 auto;
        }

        span {
            font-size: 1rem;
        }
    }
}

@media (min-width: 769px) and (max-width: 1360px) {
    #logo-block {
        top: 15%;
    }
}