/*
    Please don't use Bootstrap! Angular Material
    and Flexbox are so much better! Once you try
    it, you won't go back.

    Angular Material documentation:     https://material.angular.io/
    Excellent, quick Material tutorials:     https://youtu.be/bV8emCBmFHk
    Flexbox tutorial:     https://www.w3schools.com/css/css3_flexbox.asp
    20-minute SCSS tutorial:     https://youtu.be/Zz6eOVaaelI
    Scaling apps in Angular:     https://youtu.be/Bhd2ayEE9mg
*/
/*
    @import src/variables.scss relative to this file
    in order to use the global SCSS variables within
    this file. (Don't include the underscore in
    _variables.scss when importing. If you want to
    know why: http://alistapart.com/article/getting-started-with-sass/)

    Open the _variables.scss file in a new tab so you
    can use and make SCSS variables and make everyone's
    lives easier.
*/
@import '../../../../../variables';

mat-card {
    margin: 0;
    height: 100vh;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
}

#logo-title-container {
    margin: 10px auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.flex-container {
}

#login-register-logo {
    height: $login-register-logo-height;
    max-width: initial;
    margin-bottom: $login-register-logo-bottom-margin;
}

@media screen and (min-width: 600px) {
    mat-card {
        margin: $login-register-page-margin;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        min-height: $login-register-page-height;
    }
}
