<mat-card>
	<div id="submit-project-form">
		<h1 id="title">Submit a Project</h1>
		<div class="row">

			<mat-form-field>
				<mat-label>Project Name</mat-label>
				<mat-error *ngIf="projectName.required">Project name is required</mat-error>
				<!-- <mat-error *ngIf="projectName.errors.pattern">Special characters not allowed</mat-error> -->
				<input matInput id="project-name" type="text" name="projectName" placeholder="Project Name"
				[formControl]="projectName">
			</mat-form-field>

			<mat-form-field>
				<mat-label>Batch Name</mat-label>
				<mat-error *ngIf="batchName.required">Batch name is required</mat-error>
				<!-- <mat-error *ngIf="projectName.errors">Special characters not allowed</mat-error> -->
				<input matInput id="project-batch" type="text" name="batchName" placeholder="Batch Name"
					[formControl]="batchName">
			</mat-form-field>

		</div>

		<div class="row">

			<mat-form-field>
				<mat-label>Trainer Name</mat-label>
				<mat-error *ngIf="trainerName.required">Trainer name is required</mat-error>
				<!-- <mat-error *ngIf="projectName.errors">Special characters not allowed</mat-error> -->
				<!-- TODO: make this a dropdown where it lists all of the trainers -->
				<input matInput id="project-trainer" type="text" name="trainers" placeholder="Trainer Name"
					[formControl]="trainerName">
				<!-- [disabled]="(user.role !== 'ROLE_ADMIN')" -->
			</mat-form-field>

			<mat-form-field>
				<mat-label>Technology Stack</mat-label>
				<mat-error *ngIf="techStack.required">Technology stack is required</mat-error>
				<mat-select placeholder="Select Batch" [formControl]="techStack">
					<mat-option id="project-stack" *ngFor="let tech of techStackList" [value]="tech">
						{{tech}}
					</mat-option>
				</mat-select>
			</mat-form-field>

		</div>

		<div class="row">

			<mat-form-field id="group-members">
				<mat-label>Group Members</mat-label>
				<mat-error *ngIf="groupMembers.required">Group members are required</mat-error>
				<!-- <mat-error *ngIf="projectName.errors">Special characters not allowed</mat-error> -->
				<textarea matInput readonly id="inputGroupMembers" type="text" name="groupMembers" placeholder="Group Members"
					[formControl]="groupMembers" (click)="openEditableDialog($event)"></textarea>
			</mat-form-field>

			<mat-form-field id="description">
				<mat-label>Description</mat-label>
				<mat-error *ngIf="description.required">Description is required</mat-error>
				<!-- <mat-error *ngIf="projectName.errors">Special characters not allowed</mat-error> -->
				<textarea matInput id="descriptionArea" name="description" placeholder="Project Description"
					[formControl]="description"></textarea>
			</mat-form-field>

		</div>

		<mat-form-field id="repository-links">
			<mat-label>Repository Links</mat-label>
			<mat-error *ngIf="zipLinks.required">A Github link is required</mat-error>
			<!-- <mat-error *ngIf="projectName.errors">must be in correct format:  -->
				<!-- https://github.com/[Github username]/[Repository Name]</mat-error> -->
			<textarea matInput readonly id="inputGithubLink" type="text" name="repoLinks" placeholder="Project Repository Links"
				[formControl]="zipLinks" (click)="openEditableDialog($event)"></textarea>
		</mat-form-field>

		<button id="buttonScreenshotTrigger" mat-flat-button color="accent" (click)="uploadScreenshots.click()">Choose Project Screenshots</button>

		<div class="file-spacer">
			<div id="screenshotdiv" *ngFor="let screenshot of projectToUpload.screenShots; let i = index"
				[attr.data-index]="i">
				<div class="filelist" (click)="removeData(screenshot, 'scs')">
					<img *ngIf="screenshotPicList[i]" [src]="screenshotPicList[i]" height="50">
					<div class="file-name">{{ screenshot.name }}</div>
				</div>
			</div>
		</div>

		<button mat-flat-button color="accent" (click)="uploadDatamodel.click()" title="SQL Scripts only.">Choose Data Model</button>

		<div class="file-spacer">
			<div *ngFor="let datamodel of projectToUpload.dataModel">
				<div class="filelist" (click)="removeData(datamodel, 'dms')"> {{ datamodel.name }} </div>
			</div>
		</div>

		<button (click)="submitForm()" type="submit" id="submit" mat-flat-button color="accent">Submit Project</button>

		<div id="register-spinner" *ngIf='submitting'>
			<mat-spinner [diameter]="20"></mat-spinner>
			Submitting...
		</div>

		<!-- Hidden file input used to retrieve project screenshots -->
		<input id="screenShots" name="screenShotFiles" #uploadScreenshots hidden type="file"
			(change)="onFileSelected($event, 'scs')" accept="image/*" required />
		<!-- Hidden file input used to retrieve project data models-->
		<input id="dataModel" name="dataModelFiles" #uploadDatamodel hidden type="file"
			(change)="onFileSelected($event, 'dms')" accept=".sql" required />

	</div>

</mat-card>