@import '../../../../variables';

@mixin flexPosition {
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

mat-card {
    width: 90vw;
    height: 85vh;
    min-height: 85vh;
    margin: 1% auto;
}

#codebase-page {
    display: grid;
    grid-template:
        'backButton'
        'files'
        'title'
        'breadcrumbs'
        'codeWindow';
    grid-template-columns: 100%;
    grid-gap: 0;
    margin: auto;
    width: 100%;
}

#back-icon {
    height: 56px;
    width:  56px;
}

#codebase-title {
    @include flexPosition();
    grid-area: title;
    h1 {
        font-size: 60px;
    }
    button {
        margin: 10px;
    }
}

#codebase-backButton {
    grid-area: backButton;
}

#codebase-files {
    grid-area: files;
    display: block;
    justify-content: left;
    flex-direction: column;
    padding: $section-padding;
    max-height: 68vh;
    padding-right: 0;
    #buttonContainer {
        max-height: 63vh;
        overflow-y: auto;
    }     
}

#codebase-breadcrumbs {
    grid-area: breadcrumbs;
    a {
        color: $rev-blue-dark;
    }
}

#codebase-codeWindow {
    grid-area: codeWindow;
    max-height: 68vh;
        code {
            height: 63vh;
        }
}

::ng-deep .mat-form-field {
    .mat-form-field-underline {
        background-color: rgba($rev-gray-main, 0.5);
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

@media screen and (min-width: $all-projects-breakpoint) {
    #codebase-page {
        grid-template-areas: 
            '. title'
            'files breadcrumbs'
            'files codeWindow';
        grid-template-columns: 20% 80%;
    }
}