@import '../../../../variables';


::ng-deep .mat-form-field {
    .mat-form-field-underline {
        background-color: rgba($rev-gray-main, 0.5);
    }
}

mat-card {
    margin: 0;
}

#edit-project-page {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    height: fit-content;
    padding-bottom: 50px;
}
h1 {
    text-align: center;
    font-size: 1.5em;
    width: 80%;
    border-bottom: 3px solid $rev-orange-main;
    padding: 15px;
    margin: 20px auto;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.mat-input-element {
    width: fit-content;
}

mat-form-field {
    margin: 0 30px;
    flex-grow: 1;
}

input, textarea {
    width: 100% !important;
}

#repository-links {
    flex-basis: 80%;
    flex-shrink: 0;
    flex-grow: 0;
}

mat-error {
    font-size: 14px;
}

#control-buttons {
    display: flex;
    flex-direction: column;
    button {
        width: 100%;
    }
}

#add-members {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 20px;
}

#group-members, #add-members-inner {
    margin: 20px;
}

.parent-div {
    div {
        border-radius: 5px;
        background-color: rgba($rev-gray-main, 0.3);
        width: fit-content;
        padding: 5px 15px;
        margin: 5px;
        box-shadow: 0 1px 1px 1px rgba(#000, 0.2);
    }
}

#control-buttons {
    display: flex;
    flex-direction: column;

}

#group-members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    h3 {
        width: 100%;
    }
}

#back-icon {
    height: 58px;
    width: 58px;
}


@media screen and (min-width: 600px) {
    mat-card {
    margin: $top-margin 15%;
    }

    #control-buttons {
        flex-direction: row;
        button {
            flex-grow: 1;
            min-width: fit-content;
        }
    }
}

textarea {
  height: 50%;
  width: 2%;
}

button {
 height: fit-content;
 width: fit-content;
  margin: 5px;
}