<p>primeng-carousel works!</p>
<!-- <p-carousel [value]="items">
    <ng-template let-item pTemplate="item">
        Content to display
    </ng-template>
</p-carousel> -->
<!-- 
<p-carousel headerText="Project Screenshots" [value]="slides">
    <ng-template let-slide pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
            <div class="ui-grid-row">
                <div class="ui-grid-col-12"><img src="{{slide.picture}}" width="500"></div>
            </div>
                

        </div>
    </ng-template>
</p-carousel> -->