@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';

$black: mat-color($mat-grey,900);

body { 
  background-color: $black;
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

