@import 'theme.scss';

html, body {
  margin: 0px;
  height: 100%;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  // left: 0;
  // top: 0;
  // padding: 0px;
  overflow: hidden;
}

// this class can be used anywhere in the application to implement the custom theme
.my-theme {
    @include angular-material-theme($my-app-theme);
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}
span.token1{
  color:rgb(255, 255, 255);
}
span.token2{
  color: rgb(99, 106, 207);
}
span.token3, span.token17{
  color: rgb(71, 211, 125);
}
span.token4{
  color: rgb(133, 133, 133);
  font-family: monospace;
}
span.token5{
  color: rgb(117, 180, 151);
}

span.token6{color: rgb(201, 125, 211);}
span.token7{color: rgb(197, 148, 58);}
span.token8{color: rgb(253, 248, 182);}
span.token9,.token10,.token11,.token12{color:gold;}
span.token13{color:green;}
span.token14{color:rgb(243, 102, 161)}
span.token14 * {color:rgb(243, 102, 161)}
span.token13 *{color:green;}
span.token15 {color: rgb(236, 127, 127)}
span.token15 * {color: rgb(236, 127, 127)}
span.token16 {color: rgb(0, 255, 149)}
