/*
    This sass file defines the custom theme for RPM. Three color pallets are defined -- orange for the primary color which is used as the
        default color for most styling decisions, blue for the complimentary color, and red for the warning color which occurs when errors occur.
*/

@import '~@angular/material/theming';
@include mat-core();
$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;
$orangePallet: (
    50: #fff2e0,
    100: #ffdeb3,
    200: #ffc980,
    300: #ffb34d,
    400: #ffa226,
    500: #ff9200,
    600: #ff8a00,
    700: #ff7f00,
    800: #ff7500,
    900: #ff6300,
    A100: #ffffff,
    A200: #fff6f2,
    A400: #ffd4bf,
    A700: #ffc3a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
      )
);

$bluePallete: (
    50 : #e2e5f9,
    100 : #b6bdef,
    200 : #8691e5,
    300 : #5665da,
    400 : #3144d2,
    500 : #0d23ca,
    600 : #0b1fc5,
    700 : #091abd,
    800 : #0715b7,
    900 : #030cab,
    A100 : #d4d6ff,
    A200 : #a1a4ff,
    A400 : #6e72ff,
    A700 : #5559ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$redPallete: (
    50 : #ffe0e0,
    100 : #ffb3b3,
    200 : #ff8080,
    300 : #ff4d4d,
    400 : #ff2626,
    500 : #ff0000,
    600 : #ff0000,
    700 : #ff0000,
    800 : #ff0000,
    900 : #ff0000,
    A100 : #ffffff,
    A200 : #fff2f2,
    A400 : #ffbfbf,
    A700 : #ffa6a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$my-theme-primary: mat-palette($orangePallet, 700, 300, 900);
$my-theme-accent: mat-palette($bluePallete, 700, 300, 900);
$my-theme-warn: mat-palette($redPallete, 700, 300, 900);

$my-app-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);
@include angular-material-theme($my-app-theme);