/*
    Please don't use Bootstrap! Angular Material
    and Flexbox are so much better! Once you try
    it, you won't go back.

    Angular Material documentation:     https://material.angular.io/
    Excellent, quick Material tutorials:     https://youtu.be/bV8emCBmFHk
    Flexbox tutorial:     https://www.w3schools.com/css/css3_flexbox.asp
    20-minute SCSS tutorial:     https://youtu.be/Zz6eOVaaelI
    Scaling apps in Angular:     https://youtu.be/Bhd2ayEE9mg
*/

/* 
    @import src/variables.scss relative to this file
    in order to use the global SCSS variables within 
    this file. (Don't include the underscore in 
    _variables.scss when importing. If you want to 
    know why: http://alistapart.com/article/getting-started-with-sass/)

    Open the _variables.scss file in a new tab so you 
    can use and make SCSS variables and make everyone's 
    lives easier.
*/
@import '../../variables';

#all-projects-view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    height: 100%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70vw;
}
mat-card {
    margin: 2% auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: fit-content;
}

app-project-screenshot-thumbnails {
    height: 45vh;
    width: 100%;
    overflow: auto;
}

app-project-description {
    border: 1px solid orange;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 60vh;
}

app-project-list {
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    overflow: auto;
    border: 1px solid red;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    overflow-x: hidden;
}

#main-project-view {
    min-width: 100%;
    min-height: 100%;
    border: 1px solid green;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
}

@media screen and (min-width: 600px) {
    app-project-list {
        -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
                order: 0;
        min-width: 20%;
        max-width: 20%;
        height: fit-content;
    }
    #main-project-view {
        -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
                order: 0;
        width: 80%;
        min-height: fit-content;
    }   
    #all-projects-view {
        flex-direction: row;
    }
}

