<!-- *ngIf="user" -->
<div class="my-theme"  id="userActions">
    <mat-toolbar color="primary">
        <mat-toolbar-row>

            <button id="icon" mat-icon-button mat-stroked-button mat-button matTooltip="Add New Project"
                matTooltipPosition="right" (click)="submitProject()">
                <mat-icon>add</mat-icon>
            </button>
            <span class="example-fill-remaining-space"></span>
            <mat-tab-group>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span>Your Projects</span>
                    </ng-template>
                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        <span>All Projects</span>
                    </ng-template>

                </mat-tab>
            </mat-tab-group>
            <!-- <span class="example-fill-remaining-space"></span> -->
            <!-- <button mat-button [matMenuTriggerFor]="filterMenu">Filter Projects</button>
          <mat-menu  #filterMenu="matMenu">
              <button mat-menu-item>
                  <span>Project Name</span>
              </button>
              <button mat-menu-item>
                  <span>Batch Name</span>
              </button>
              <button mat-menu-item>
                  <span>Trainer</span>
              </button>
              <button mat-menu-item>
                  <span>Stack</span>
              </button>
          </mat-menu> -->
            <!-- <span class="example-fill-remaining-space"></span>
          <button *ngIf="user.userRole == 'admin'" mat-button [matMenuTriggerFor]="projectMenu">Type of Project</button>
          <mat-menu  #projectMenu="matMenu">
              <button mat-menu-item>
                  <span>Pending Projects</span>
              </button>
              <button mat-menu-item>
                  <span>Pending Edits</span>
              </button>
          </mat-menu> -->
        </mat-toolbar-row>
    </mat-toolbar>
</div>