<!-- <div class="my-theme"  id="userActions">
    <mat-toolbar color="primary">
        <mat-toolbar-row>

            <button id="icon" mat-icon-button mat-stroked-button mat-button matTooltip="Add New Project"
                matTooltipPosition="right" (click)="submitProject()">
                <mat-icon>add</mat-icon>
            </button>
            <span class="example-fill-remaining-space"></span>
            <mat-tab-group>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span (click)="yourProjects()">Your Projects</span>
                    </ng-template>
                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        <span (click)="allProjects()">All Projects</span>
                    </ng-template>

                </mat-tab>
            </mat-tab-group>
        </mat-toolbar-row>
    </mat-toolbar>
</div> -->